<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Error</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="justify-content: center; align-items: center;">
    <div style="text-align: center;">
        <h1 style="font-size: 5rem; color: var(--danger);">500</h1>
        <p style="font-size: 1.5rem; margin-bottom: 2rem;">Internal Server Error.</p>
        <a href="/" class="btn-submit" style="text-decoration: none; padding: 1rem 2rem; display: inline-block;">Return Home</a>
    </div>
</body>
</html>
